@import '../../../../styles/var.scss';

.side-bar {
  width: $side-bar-width;
  height: 100%;
  background: $bar-color;

  &-menu {
    height: 40px;
    line-height: 40px;
  }

  &-menu-child {
    display: block;
    height: 0px;
    line-height: 32px;
    opacity: 0;
    transition: all .3s ease-out;
  }

  &-show {
    height: 32px;
    opacity: 1;
    transition: all .3s ease-in;
  }

  &-active {
    color: $primary-color !important;
  }

  &-front {
    color: $front-color;
  }

  &-front:hover {
    color: $primary-color;
  }
}